.dashboard-section {
    background-color: #B8FFDC;
    overflow: hidden;
    display: flex;
}

.card-dashboard {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100% - 40px);
    width: 100%;
    margin: 20px 10%;
    border-radius: 16px;
}

.dashboard-content {
    width: 100%;
    padding: 20px 10%;
}

@media only screen and (max-width: 929px) {
    .dashboard-content {
        height: 100%;
        padding: 20px 0;
    }
}