.dashboard {
    width: 100%;
    height: calc(100% - 50px);
    background-color: white;
    overflow-y: scroll;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}