* {
  font-family: 'Open Sans', sans-serif;
}

html,
body,
section {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
  height: 100%;
}

#root {
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
}

input {
  display: block;
  margin: 16px 0px;
}

table {
  width: 100%;
}

td {
  text-align: center;
  padding: 1px 0px;
}